---
---

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

body {
   padding: 50px 0;
   font-size: 12vw;
   font-family: "Fira Mono";
   font-style: normal;
   font-weight: 400;
   background: #282c34;
   color: #abb2be;
}
.hidden {
  opacity: 0;
}
.console-container {
  text-align:center;
  display:flex;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  align-items: center;
  justify-content: center;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
